:root {
    --bg-color: #343a40;
    --text-color: #ffffff;
    --sb-a-hover: #007bff;
    --transition-speed: 0.4s;
}

body {
    display: flex;
    margin: 0;
    background-color: #121212;
    color: var(--text-color);
}

.sidebar {
    width: 250px;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 20px;
    height: 100vh;
    transition: transform var(--transition-speed);
    transform: translateX(-100%);
    position: fixed;
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color var(--transition-speed);
}

.sidebar a:hover {
    background-color: var(--sb-a-hover);
}

.burger {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
}

.burger span {
    display: block;
    position: relative;
    height: 4px;
    width: 30px;
    background: var(--text-color);
    margin-bottom: 5px;
    border-radius: 9px;
    transition: transform 0.4s, width 0.4s;
}

.burger input {
    display: none;
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg) translateY(10px);
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-10px);
}

.text-center{
    text-align: center;
}